@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-VariableFont_wght.ttf');
    font-weight: 200 800;
}
@font-face {
    font-family: 'Forum';
    src: url('../font/Forum-Regular.ttf');
}
body{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: none;
    width: 100%;
    background-color: #F5F5F5;
}
a{
    text-decoration: none;
}
h1{
    font-size: 80px;
    margin: 0;
}
h2{
    font-size: 32px;
    margin: 0;
}
h6{
    font-size: 28px;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.none{
    display: none;
}
.button{
    border: 1px solid white;
    background: none;
    border-radius: 23px;
    overflow: hidden;
    padding: 10px 10px 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    p{
        margin: 0;
        font-weight: 400;
        line-height: 150%; /* 24px */
        letter-spacing: -0.32px;
        color: white;
    }
}
header{
    background-color: #005D3F;
    position: static;
    margin: 16px;
}
main{
    .title{
        padding: 80px 80px ;
        h1{
            font-family: Forum;
            font-size: 80px;
            font-style: normal;
            font-weight: 400;
            line-height: 86%; /* 68.8px */
            letter-spacing: -0.8px;
        }
    }
    .body{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 80px;
        background-color: #ffffff;
        .left{
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 40px;
                li{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    img{
                        background-color: #F5F5F5;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        flex-shrink: 0;
                        aspect-ratio: 1/1;
                        border: 10px solid #F5F5F5;
                    }
                    .text{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        h6{
                            font-family: Manrope;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 36px */
                            letter-spacing: 0.24px;
                        }
                        p{
                            color: #6E6E6E;
                            font-family: Manrope;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                            letter-spacing: -0.32px;
                        }
                    }
                }
            }
        }
        #map {
            width: 100%;
            height: auto;
        }
    }
}

@media(max-width: 784px){
    main{
        .title{
            padding: 200px 20px 20px 20px;
            h1{
                font-family: Forum;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 86%; /* 34.4px */
                letter-spacing: -0.4px;
            }
        }
        .body{
            grid-template-columns: 1fr ;
            padding: 20px;
            .left{
                ul{
                    li{
                        .text{
                            h6{
                                font-family: Manrope;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
                                letter-spacing: -0.32px;
                            }
                            p{
                                font-family: Manrope;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 18px */
                                letter-spacing: -0.24px;
                            }
                        }
                    }
                }
            }
            #map{
                aspect-ratio: 16/9;
            }
        }
    }
}